:root {
    --text-color: #091434;
    --font: 'Roboto', sans-serif;
    --primary30: #4F378B;
    --primary80: #D0BCFF;
    --primary90: #EADDFF;
    --green-10: #3c7363;
    --green-20: #8fd9c4;
    --green-30: #B8D9C4;
    --green-40: #84d9ba;
    --green-50: #e8f1fd;
    --blue: #b6d6f2;
    --pink: #e8c4f2;
}

body {
    margin: 0;
    background-color: #F5EFE6;
}

h2, h4{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: var(--font);
    color: var(--text-color);
}


.header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.74);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
}


.nav {
    display: flex;
    margin-right: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.nav__item {
  text-decoration: none;
  color: var(--text-color);
  padding: 14px 0;
  border-bottom: 3px solid transparent;
  
}


.nav__item:hover {
    color: var(--primary30);
    border-bottom: 3px solid var(--primary30);
}

.home {
    display: flex;
}

.home__menu {
    padding: 14px 14px;
    display: none;
    cursor: pointer;
}

.home__logo {
    font-size: 26px;
    font-family: var(--font);
    margin-left: 25px;
    font-weight: 800;
    color: #443367;
    align-self: center;
    text-decoration: none;
}



.nav__item {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0 15px;
    list-style: none;
}


@media screen and (max-width: 739px) {
    .nav__item {display: none;}
    .material-symbols-rounded {display: block;}
}

@media screen and (max-width: 739px) {
    .nav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        flex-direction: column;
    }

    .nav.responsive .nav__item {
        display: block;
        border: none;
    }

    .nav__item:hover {
        color: #916fd4;
    }

}



.footer {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.footer__copyright {
    font-family: var(--font);
    /* align-self: end; */
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    

}

.btn:hover {
    color: var(--primary90);
    background: var(--primary30);
}


  
.dropdown-content {
    display: none;
    justify-content: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    right: 0;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.dropdown-content a {
    float: none;
    padding: 10px 0;
    margin: 10px;
    display: block;
    margin: 0;
    
}


.dropdown-content a:hover {
    border-bottom: 3px solid transparent;
    color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
}

.invalid {
    color: red;
}

#user {
    display: inline-block;
}