
.banner {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(255, 236, 213) 30%, rgb(190, 232, 255));
}

.banner__img {
    width: 70%;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slogan {
    display: flex;
    font-family: var(--font);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slogan__text {
    bottom: 0;
    margin-bottom: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 250px;
    margin: 10px 0;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 900;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slogan__btn {
    margin: 10px 0;
    height: 30px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 150px;
    height: 40px;
    box-shadow: 5px 5px 10px rgb(196, 208, 237);
}



@keyframes fade{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.description {
    /* margin-top: 10px; */
    display: flex;
    background-color: #8a9ddd09;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 20px;
    /* background: #dbe7e8; */
    background-image: linear-gradient(45deg,#e1c6ff , #dbe8e7);
}


.description__title {
    margin-top: 10px;
}

.description__title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(146, 136, 185);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.description-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    backdrop-filter: blur(5px);
    background: rgba(194, 169, 233, 0.492);
    box-shadow: 5px 5px 20px #b563deb1;
    border: solid 1px rgba(0, 0, 0, 0.07);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

.description-card__icon {
    font-size: 5em;
    margin: 25px 0;
    font-weight: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(175, 44, 231);
}

.description-card__des {
    font-family: var(--font);
    text-align: center;
    margin: 25px 0;
    color: rgb(107, 86, 113);
    font-weight: 700;
    /* text-shadow: 1px 1px 10px rgb(104, 207, 255); */
}
@media screen and (max-width: 800px) {
    .banner {
        margin-top: 40px 0;
    }
}