main {
    display: grid;
    grid-template-areas:
        'banner'
        'des'
        'footer';
}


.banner {
    display: flex;
    grid-area: banner;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;
}

.banner__img {
    width: 70%;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slogan {
    display: flex;
    font-family: var(--font);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slogan__text {
    bottom: 0;
    margin-bottom: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 250px;
    margin: 10px 0;
    font-size: 1.3rem;
    color: var(--text-color);
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slogan__btn {
    margin: 10px 0;
    height: 30px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 150px;
}



@keyframes fade{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.description {  
    display: flex;
    background-color: #8a9ddd41;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.description__title {
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container__card {
    height: 250px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.67);
    margin: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .banner {
        margin: 40px 0;
    }
}